@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in my Game</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    <script src="~/js/site.js"></script>

    <select id="gameList">

        <option>Game1</option>

    </select>

    <div id="displayGames">





    </div>

    <select ></select>

</div>

